@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');

body {
  font-size: 9pt;
  line-height: 24pt;
  text-align: center;
  width: 98%;
  max-width: 600px;
  margin: 5em auto;
  font-family: 'Source Code Pro', monospace;
  background-color: #f5f5f7;
}


h3 { 
  font-size:1em;
}

.shiny-input-container:not(.shiny-input-container-inline){
  margin: 0 auto;
}

h5 {
  font-size: 1.12em;
  margin: 1em auto 0.5em auto;
  padding-top: 1.4em;
  color: #559e5e;
}

.top-bar {
  width: 92%;
  max-width: 600px;
  height: 3em;
  position: fixed;
  top: 0;
  left: 0.5;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 5;
  font-weight: 500;
  color: white;
}

.top-bar::before {
  width: 100%;
  height: 3em;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(22,190,0);
  z-index: -1;
}

.top-bar > .site-title > a {
  color: #ffffff80;
  transition-duration: 0.4s;
}

.top-bar > .site-title > a:hover {
  text-decoration: none;
  color: white;
}

table {
  margin: 2em auto;
  overflow-x: auto;
  white-space: nowrap;
}

.table>tbody>tr>td {
  border: none;
}

.table>thead:first-child>tr:first-child>th {
  border-top: 1px solid rgb(45,84,91);
  border-bottom: 1px solid rgb(45,84,91);
}

.table>tbody:last-child>tr:last-child>td {
  border-bottom: 1px solid rgb(45,84,91);
}

table, th {
    text-align: right !important;
}

td:nth-child(1), th:nth-child(1) {
  text-align: left !important;
}

input {
  text-align: center;
  border-radius: 4px;
  border: 1px solid #4a709060;
  max-width: 8em;
}

.zp {
  color: #FB6418;  
}
/* Remove spinner arrows from inputs -----------------------------------------*/
/* - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* - Firefox */
input[type=number] {
  -moz-appearance: textfield;
}